DSN="host=<DB HOST> user=<DB USER> password=<DB PASSWORD> dbname=<DB NAME> port=5432 sslmode=prefer TimeZone=America/Vancouver"
JWK_LOCATION="data/keys/"
UPLOADS_LOCATION="data/uploads/"
ADMIN_USER_EMAIL="<Admin User E-Mail to be used in admin user creation>"
ADMIN_USER_PASSWORD="<Admin User Password to be used in admin user creation>"
JWT_ISSUER="<JWT Issuer>"